body {
  background-color: #888;
  color: #8d8;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#grid_table {
  border-collapse: collapse;
}
.cell {
  width: 0.7em;
  height: 0.7em;
  background-color: #48484c;
}
.wallRight {
  border-right: rgb(187, 180, 180) solid 0.15em;
}
.wallLeft {
  border-left: rgb(187, 180, 180) solid 0.15em;
}
.wallTop {
  border-top: rgb(187, 180, 180) solid 0.15em ;
}
.wallButtom {
  border-bottom: rgb(187, 180, 180) solid 0.15em;
}
.visited{
  background-color: green;
}
.goal{
  background-color: rgb(209, 85, 28);
}
.generation{
  background-color: rgb(64, 64, 47);
}
